.section-contacts {
    padding: 15%;
    display: flex;
    flex-flow: column;
    gap: 2vh;
    background-color: var(--section-bg-color-soft);
  }
  .container-contact-title {
    font-size: 1.8rem;
    color: var(--font-color-main);
  }
  .option-contact {
    display: flex;
    gap: 1vw;
    font-size: 1.3rem;
    margin: 1.2vh 0 0 0;
    transition: transform 0.3s ease;
    height: 3vh;
  }
  .option-contact a {
    height: 3vh;
  }
  .option-contact:hover {
    transform: translate(0.5vh, -0.5vh);
  }
  @media (min-width: 600px) {
    .section-contacts {
      padding: 5%;
    }
  }