.section-presentation {
    display: flex;
    flex-flow: wrap column-reverse;
    gap: 5vw;
    margin: 5vh 0 0 0;
    padding: 5vh 0;
    color: var(--font-color-main);
  }

  .content-presentation {
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    align-self: center;
    max-width: 75%;
    gap: 3vh;
    padding: 2vh 0 0 0;
  }

  .container-texts-section-one {
    display: flex;
    flex-flow: column;
    gap: 1vh;
    margin: 0 0 1vh 0;
    width: 60vw;
  }

  .options-presentation {
    display: flex;
    gap: 2vw;
    font-size: 1rem;
  }
  .options-presentation a {
    height: max-content;
    width: max-content;
    transition: transform 0.3s ease;
  }
  .options-presentation a:hover {
    transform: translate(0.5vh, 0.5vh);
    height: 2vh;
  }
  .title-presentation {
    font-size: 1.7rem;
  }
  .subtitle-presentation, .options-presentation {
    color: var(--font-color-second);
    font-size: 1.2rem;
  }
  .flag-subtitle-presentation {
    max-height: 0.9rem;
    border-radius: 3px;
  }
  .image-presentation {
    width: 45%;
    border-radius: 50%;
  }

  .presentation-image-container {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 1vh 0 0 0;
    width: auto;
    z-index: -1;
  }
  
  a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--font-color-main);
  }
  @media (min-width: 901px) {
    .section-presentation {
      flex-direction: row;
      padding: 5vw;
      height: 80vh;
    }
    .content-presentation {
      gap: 1.5vh;
    }
    .title-presentation {
      font-size: 3.25rem;
    }
    .subtitle-presentation, .options-presentation {
      font-size: 1.6rem;
    }
    .presentation-image-container {
      display: flex;
      justify-content: end;
      width: min-content;
    }
    .image-presentation {
      height: 24vw;
      width: 24vw;
    }
  }
