.academic-education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 15%;
    gap: 5vh;
    background-color: var(--section-bg-color-soft);
    color: var(--font-color-main);
  }
  .container-academic-formation {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 8vh;
    max-width: 65vw;
  }
  .academic-formation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }
  .container-image-academic-formation {
    display: flex;
    justify-content: center;
    background-color: var(--image-bg);
    padding: 3vh 0;
  }
  .image {
    width: 45%;
  }
  .title-academic-education {
    text-align: center;
    font-size: 2rem;
  }
  .formation-text, .status-formation {
    text-align: center;
    margin: 0 0 1vh 0;
    width: auto;
    font-size: 1.1rem;
  }
  @media (min-width: 600px) {
    .academic-education {
      padding: 5%;
    }
  }