  /* <Header> */ 
  header {
    display: flex;
    padding: 2.5vh 5% 0 5%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5vh;
    z-index: 2;
    background-color: #EDEDED;
    color: #464646;
  }

  .name-header {
    display: flex;
    gap: 1vw;
    
    color: #464646;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3rem;
  }

  .list-header {
    display: flex;
    gap: 2vh;  
    position: fixed;
    right: 5%;
  }
  
  .list-header a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #464646;

    height: 5vh;

    transition: transform 0.3s ease;
  }

  .list-header a:hover {
    transform: translate(-0.5vh, -0.5vh);
    color: #1c1c1c;
    font-weight: 600;
  }

  .menu-desktop {
    display: none;
    gap: 2vw;
    margin: 0 1vw 0 0;
  }

  @media (min-width: 750px) {
    .menu-desktop {
      display: flex;
    }
  }

  /* <section #01> */
  .section-presentation {
    display: flex;
    flex-flow: wrap column-reverse;
    gap: 5vw;
    margin: 5vh 0 0 0;
    padding: 5vh 0;
    color: #464646;
  }

  .content-presentation {
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    align-self: center;
    max-width: 75%;
    gap: 3vh;
    padding: 2vh 0 0 0;
  }

  .container-texts-section-one {
    display: flex;
    flex-flow: column;
    gap: 1vh;
    margin: 0 0 1vh 0;
    width: 60vw;
  }

  .options-presentation {
    display: flex;
    gap: 2vw;
    font-size: 1rem;
  }
  .options-presentation a {
    height: max-content;
    width: max-content;
    transition: transform 0.3s ease;
  }
  .options-presentation a:hover {
    transform: translate(0.5vh, 0.5vh);
    height: 1vh;
  }
  .title-presentation {
    font-size: 1.7rem;
  }
  .subtitle-presentation, .options-presentation {
    font-size: 0.9rem;
  }
  .flag-subtitle-presentation {
    max-height: 0.9rem;
    border-radius: 3px;
  }
  .image-presentation {
    width: 45%;
    border-radius: 50%;
  }

  .presentation-image-container {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 1vh 0 0 0;
    width: auto;
    z-index: -1;
  }
  
  a {
    font-size: 1rem;
    text-decoration: none;
    color: #464646;
  }
  @media (min-width: 901px) {
    .section-presentation {
      flex-direction: row;
      padding: 5vw;
      height: 80vh;
    }
    .content-presentation {
      gap: 1.5vh;
    }
    .title-presentation {
      font-size: 3.25rem;
    }
    .subtitle-presentation {
      font-size: 1.3rem;
    }
    .presentation-image-container {
      display: flex;
      justify-content: end;
      width: min-content;
    }
    .image-presentation {
      height: 24vw;
      width: 24vw;
    }
  }

  /* <Section 'about me'> */
  .section-about-me {
    padding: 15%;
    color: #464646;
    background-color: #EAF2FD;
  }

  .title-about-me {
    font-size: 2rem;
  }

  .text-about-me {
    font-size: 1rem;
    margin: 2vh 0 0 0;
  }

  .signature-about-me {
    font-size: 2rem;
    font-family: 'Whisper', Arial, Helvetica, sans-serif;
    margin: 2vh 0 0 0;
  }

  @media (min-width: 600px) {
    .section-about-me {
      padding: 5%;
    }
    .text-about-me {
      font-size: 1rem;
      width: 65%;
      margin: 2vh 0 0 0;
    }
  }

  /* <section skills and learning> */
  .section-skills, .section-learning {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 15%;
    gap: 2.5vh;
  }
  .container-skills, .container-learning {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 5vw;
    padding: 0 1vh;
    font-size: 5vh;
    color: #2A7AE4;
    
  }
  .title-skills, .title-learning {
    text-align: center;
    font-size: 2rem;
    color: #464646;
  }

  @media (min-width: 600px) {
    .section-skills, .section-learning {
      padding: 5%;
    }
  }

  /* <section formation> */
  .academic-education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 15%;
    gap: 5vh;
    background-color: #EAF2FD;
    color: #464646;
  }
  .container-academic-formation {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 8vh;
    max-width: 65vw;
  }
  .academic-formation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }
  .container-image-academic-formation {
    display: flex;
    justify-content: center;
    background-color: #FFF;
    padding: 3vh 0;
  }
  .image {
    width: 45%;
  }
  .title-academic-education {
    text-align: center;
    font-size: 2rem;
  }
  .formation-text, .status-formation {
    text-align: center;
    margin: 0 0 1vh 0;
    width: auto;
    font-size: 1.1rem;
  }
  @media (min-width: 600px) {
    .academic-education {
      padding: 5%;
    }
  }

  /* <section contacts> */
  .section-contacts {
    padding: 15%;
    display: flex;
    flex-flow: column;
    gap: 2vh;
  }
  .container-contact-title {
    font-size: 1.8rem;
    color: #464646;
  }
  .option-contact {
    display: flex;
    gap: 1vw;
    font-size: 1.3rem;
    margin: 1.2vh 0 0 0;
    transition: transform 0.3s ease;
    height: 3vh;
  }
  .option-contact a {
    height: 3vh;
  }
  .option-contact:hover {
    transform: translate(0.5vh, -0.5vh);
  }
  @media (min-width: 600px) {
    .section-contacts {
      padding: 5%;
    }
  }

  /* <footer> */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 0;
    color: #464646;
    background-color: #FDFDFD;
  }
  .footer-links {
    display: flex;
    gap: 0.3rem;
  }