@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('header.css');
@import url('presentation-section.css');
@import url('aboutme-section.css');
@import url('skills-learning-section.css');
@import url('formation-section.css');
@import url('contacts-section.css');
@import url('projects-section.css');
@import url('footer.css');

[data-context="day"] {
  --bg-color-main: #EDEDED;
  --font-color-main: #464646;
  --font-color-second: #959595;
  --font-color-focus-main: #1C1C1C;
  --section-bg-color-soft: #CEE2FE;
  --item-color-accent: #2A7AE4;
  --image-bg: #FFF;
  --footer-bg-color: #FDFDFD;
}

[data-context="night"] {
  --bg-color-main: #202020;
  --font-color-main: #EDEDED;
  --font-color-second: #959595;
  --font-color-focus-main: #959595;
  --section-bg-color-soft: #002F40;
  --item-color-accent: #2A7AE4;
  --image-bg: #FFF;
  --footer-bg-color: #272727;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
  
::-webkit-scrollbar {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #464646;
    border-radius: 5px; 
    margin: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  ::-webkit-scrollbar-track {
    margin: 1vh; 
  }

html {
  transition: background-color 1s ease-in-out;
}

body {
    background-color: var(--bg-color-main);
}


@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    50.1%,
    100% {
        opacity: 0;
    }
}